<div class="board  bg-gray-100 dark:bg-gray-600 shadow-md rounded-lg p-0 py-4">
  <!-- En-tête du tableau -->
  <div class="flex items-center justify-between mb-4 backdrop-blur-md  bg-transparent shadow-2xl w-full m-0  rounded-lg p-4">
    <div class="flex items-center space-x-4">
      <h1 class="text-3xl font-bold text-gray-800 transition duration-300 ease-in-out hover:text-blue-600">{{ board.title }}</h1>
      <div class="flex items-center space-x-2">
        <button class="text-gray-600 hover:text-blue-500 transition duration-300 ease-in-out transform hover:scale-110" (click)="toggleFavorite()">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
          </svg>
        </button>
        <button class="text-gray-600 hover:text-blue-500 transition duration-300 ease-in-out transform hover:scale-110" (click)="toggleVisibility()">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.5C6.75 4.5 2.25 9 2.25 12s4.5 7.5 9.75 7.5 9.75-4.5 9.75-7.5S17.25 4.5 12 4.5zM12 15.75a3.75 3.75 0 100-7.5 3.75 3.75 0 000 7.5z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <button class="text-gray-600 hover:text-blue-500 transition duration-300 ease-in-out transform hover:scale-110" (click)="filter()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h18M3 12h18M3 20h18" />
        </svg>
      </button>
      <button class="text-gray-600 hover:text-blue-500 transition duration-300 ease-in-out transform hover:scale-110" (click)="openProfile()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-3.31 0-10 1.67-10 5v1h20v-1c0-3.33-6.69-5-10-5z" />
        </svg>
      </button>
      <button class="text-gray-600 hover:text-blue-500 transition duration-300 ease-in-out transform hover:scale-110" (click)="share()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12h-6m6 0l-3-3m3 3l-3 3" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Conteneur des listes du tableau -->
  <div class="overflow-x-auto mx-4">
    <div class="lists flex space-x-4 overflow-x-auto">
      <div cdkDropList (cdkDropListDropped)="drop($event)" class="flex space-x-4 overflow-x-auto">
        <app-list *ngFor="let list of board.lists" [list]="list" cdkDrag></app-list>
      </div>
      <button class="bg-blue-500 text-white rounded-lg px-4 py-2 md:h-12 transition duration-300 ease-in-out hover:bg-blue-600" (click)="addList()">
        Ajouter une liste
      </button>
    </div>
  </div>
</div>
